<link rel="stylesheet" href="../css/login.css"/>
<link rel="stylesheet" href="../css/main.css"/>


<div ng-controller="LoginCtrl" id="login">
	<h1 class="title">Lunch Date</h1>

	<div class = "container">
		<div class="col-sm-12 col-md-4 hidden-sm hidden-xs">
		    <div class="row"><img id = "pic1" src = "../images/login1.jpg"></div>
		    <div class="row"><img id = "pic2" src = "../images/login2.jpg"></div>
		    <div class="row"><img id = "pic3" src = "../images/login3.jpg"></div>
		</div>
		<form name="loginForm">
			<div class="col-sm-12 col-md-4 text-center" id="box">
				<h2>Login</h2>
				<div class="form-group">
					<input type='text' name='username' id='username' placeholder=' Username' required></input>
				</div>
				<div class="form-group">
					<input type='password' name='password' id='password' placeholder=' Password' required></input>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" id='submit' type="submit">Login</button>
				</div>
				<p id="noAccount"><a ui-sref="signup">Don't have an account?</a></P>
				<p id="learn" ng-click = "showInfo = !showInfo"><a href="#"><b>Learn More<b></a></p>
				<div class="alert alert-success" ng-show = "showInfo">
	  				Lunch Date allows the users who are single to mingle 
				</div>
			</div>
		</form>
		<div class="col-sm-12 col-md-4 hidden-sm hidden-xs">
		    <div class="row"><img id = "pic4" src = "../images/login4.jpg"></div>
		    <div class="row"><img id = "pic5" src = "../images/login5.jpg"></div>
		    <div class="row"><img id = "pic6" src = "../images/login6.jpg"></div>
		</div>
	</div>


</div>