@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
	font-family: "Helvetica Neue"
}


nav {
	border-bottom: 1px solid #979797;
	position: relative;
	margin-left: 30px;
	padding-left: 20px;
}

nav ul {
	position: absolute;
	bottom: 5px;
	right: 10px;
	margin: 0;
}

nav a {
	color: black;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.title {
	font-family: "Courier New";
}

.header {
	font-family: "Courier New";
	font-weight: 30px;
	font-size: 5em;
	text-align: center;
	margin: 30px;
}

.signUpImgLeft {
	float: right;
	height: 180px;
	width: 270px;
	margin-bottom: 2px;
}

.signUpImgRight {
	float: left;
	height: 180px;
	width: 270px;
	margin-bottom: 2px;
}

#signUp {

	text-align: center;
	border: 1px solid;
	border-color: grey;
}

#submit {
	width: 100%;
	margin-bottom: 2em;
}

.profilePic {
	max-width:150px;
	max-height:150px;
	border-radius: 50%;
	padding-bottom: 5px;
}

#signUp h2 {
	margin: 1.5em;
	font-size: 30px;
}

#noAccount {
	color: grey;
	text-decoration: none;
}

input.ng-invalid.ng-touched {
	border: 2px solid red;
	background-color: #ffb3b3;
}

.search {
	width: 20em;
	display: inline;
	padding-right: 3px;
}

svg {
	height: 20px;
	padding: 0px;
}

#newDate {
	margin-left: 20px;
}

#datesBox {
	background-color: #E9EAEE;
}

#options {
	margin-left: 30px;
}

#map-container {
	height: 200px;
}

#logout {
	float: right;
}

