<div>
	<h2>Search for Dates:</h2>
	<input name="foodSearch" placeholder="Find: tacos" class="form-control search" id="search" ng-model="food">

	<button type="button" class="btn btn-default" id="newDate" ui-sref="create-date">Create a Date</button>
	<div class="row">
		<h1>Dates near you: {{timeNow | date: 'hh:mm'}} in Seattle</h1> 
		<div class="col-sm-8" id="datesBox">
			<div ng-if="dates">
				<table class="table">
					<tr ng-repeat="date in dates | orderBy: sortCriteria | filter: food">
						<td><img class="datePic" ng-src="{{date.user.get('photo')}}"></td>
						<td>
							<h1>{{date.user.get('fName')}} {{date.user.get('lName')}}</h1>
							<h3>{{date.resturaunt.name}}</h3>
							<p>{{date.desc}}</p>
						</td>
						<td>
							<h3>Happening At:</h3>
							<p>{{date.time | date: 'hh:mm'}}</p>
							<p>{{date.date}}</p>
							<h3>Location:</h3>
							<p>
								{{date.resturaunt.location.address[0]}}<br>
								{{date.resturaunt.location.address[1]}}
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-sm-4">
			<div id="options">
				<h2>Options</h2>
				<h3>Sort By:</h3>
				<input type="radio" ng-model="sortCriteria" value="resturaunt">Restaurant<br>
				<input type="radio" ng-model="sortCriteria" value="date">Date<br>
				<input type="radio" ng-model="sortCriteria" value="time">Time<br>
				<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
					<ui-gmap-marker ng-repeat="marker in markers" coords='marker.coords' idKey='marker.idKey'></ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
</div>