<div class="container" id="profileData">
	
	<h1>Your Profile</h1>
	<img src="{{currentUser.photo}}" id="profileDisp">
	<h2>{{currentUser.fName}} {{currentUser.lName}}</h2>
	<div id="datesBox" class="container-fluid">
		<div ng-if="dates" class="date row" ng-repeat="date in dates | orderBy: sortCriteria | filter: food">
			<div class="col-sm-12 col-md-6">
				<h3>{{date.resturaunt.name}}</h3>
				<p>{{date.desc}}</p>
				<ui-gmap-google-map class="profileMap" center="date.map.center" zoom="date.map.zoom">
					<ui-gmap-marker coords='date.map.marker' idKey='date.map.idKey'></ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
			<div class="col-sm-12 col-md-6">
				<h3>Happening At:</h3>
				<p>{{date.time | date: 'hh:mm'}}</p>
				<p>{{date.date}}</p>
				<h3>Location:</h3>
				<p>
					{{date.resturaunt.location.address[0]}}<br>
					{{date.resturaunt.location.address[1]}}
				</p>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-default" id="logout" ng-click="logout()">Logout</button>
</div>
	