<div class="modal-header">
    <h3 class="modal-title">Select a Restaurant</h3>
</div>

<div class="modal-body">
    <table class="table">
        <tr ng-repeat="data in yelpResponses | orderBy: '-rating' | limitTo: 20" ng-class="{'selected-row':selectedTrack === track}" ng-click="select(track)">
            <td><img class="art-icon" ng-src="{{data.image_url !== null ? data.image_url : 'img/note.png'}}"></td>
            <td><img ng-src="{{data.rating_img_url}}" /></td>
            <td><i>{{data.name}}</i> by {{data.snippet_text}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Select Restaurant</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>