@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
	font-family: "Helvetica Neue"
}


nav {
	border-bottom: 1px solid #979797;
	position: relative;
	margin-left: 30px;
	padding-left: 20px;
}

nav ul {
	position: absolute;
	bottom: 5px;
	right: 10px;
	margin: 0;
}

nav a {
	color: black;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.title {
	font-family: "Courier New";
}

.signUpImgLeft {
	float: right;
	height: 180px;
	width: 250px;
	padding: 3px;
}

.signUpImgRight {
	float: left;
	height: 180px;
	width: 250px;
	padding: 3px;
}

#signUp {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 8%;
	padding-bottom: 8%;
	text-align: center;
	border-style: solid;
}

#submit {
	width: 100%;
}

.profilePic {
	max-width:150px;
	max-height:150px;
	border-radius: 50%;
	padding-bottom: 5px;
}