@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
	font-family: "Helvetica Neue"
}


nav {
	border-bottom: 1px solid #979797;
	position: relative;
	margin-left: 30px;
	padding-left: 20px;
}

nav ul {
	position: absolute;
	bottom: 5px;
	right: 10px;
	margin: 0;
}

nav a {
	color: black;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.title {
	font-family: "Courier New";
}

.signUpImg {
	height: 20%;
	width: 100%;
	padding: 3px;
}

#signUp {
	padding: 10px;
	text-align: center;
}